 @font-face {
  font-family: 'Noteworthy Light';
  font-style: normal;
  font-weight: normal;
  src: local('Noteworthy Light'), url('./fonts/Noteworthy-Lt.woff') format('woff');
}

/* Header */

 .headerContainer {
  position: relative;
}

header {
  background-color: #D1A7A0;
  display: flex;
  align-items: center;
  grid-area: header;
  height: 110px
  
}

.headerName {
  font-family: 'Noteworthy Light';
  font-size: 3.5rem;
  color: #F7EDE1;
  margin-left: 1rem;
  margin-bottom: 4.5rem;
} 