@font-face {
  font-family: 'Noteworthy Light';
  font-style: normal;
  font-weight: normal;
  src: local('Noteworthy Light'), url('./fonts/Noteworthy-Lt.woff') format('woff');
}

.headerContainer {
  height: 800px;
  position: relative;
}

header {
  background-color: #D1A7A0;
  display: flex;
  align-items: center;
  padding: 10px;
  grid-area: header;
  max-height: 10%;
}

.alignHeader {
}

.headerName {
  font-family: 'Noteworthy Light';
  font-size: 3.5rem;
  color: #F7EDE1;
}


