html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Noteworthy Light';
  font-style: normal;
  font-weight: normal;
  src: local('Noteworthy Light'),
    url('./fonts/Noteworthy-Lt.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Header */

.headerContainer {
  position: relative;
}

header {
  background-color: #d1a7a0;
  display: flex;
  align-items: center;
  grid-area: header;
  height: 110px;
  justify-content: flex-end;
}

.headerName {
  font-family: 'Noteworthy Light';
  font-size: 3.5rem;
  color: #f7ede1;
  margin-left: 2%;
  margin-bottom: 4.5rem;
  position: absolute;
  left: 0px;
  top: -55px;
}

#alignHeader {
  display: flex;
  justify-content: flex-start;
}

.iconContainer {
  display: flex;
  padding: 1%;
}

.icons {
  height: 50px;
  position: relative;
  right: 0px;
  padding: 15px;
}

#info {
  margin-right: 60%;
}
#home {
  margin-left: 1%;
}

/* Welcome Page */
.Welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#WelcomeHeader {
  font-family: 'Noteworthy Light';
  font-size: 5.5rem;
  color: #d1a7a0;
  display: block;
  margin: 4rem 0 2rem 0;
}

video {
  width: 260px;
  padding: 0;
  margin: 0;
}
.welcomebuttons {
  background-color: #d1a7a0;
  color: #f7ede1;
  border-radius: 35px;
  padding: 14px 140px;
  width: 100%;
  table-layout: fixed;
  display: block;
  align-self: center;
  text-align: center;
  font-family: 'Noteworthy Light';
  font-size: 30px;
  margin: 4% 0;
}
.welcomebuttons:hover {
  opacity: 0.75;
}

/* PostContainer */

.show-description p {
  height: 100px;
}

.locationTag {
  color: black;
}

.show-description small {
  opacity: 1;
}

.description {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background: black;
  /* background: linear-gradient(bottom, rgba(0,20,0,1), rgba(0,50,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,20,0,1), rgba(0,50,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,20,0,1), rgba(0,50,0,.4)); */
  opacity: 0.5;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  text-indent: 2.5%;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.comment {
  text-indent: 5%;
}

small {
  opacity: 0;
  color: white;
}

#postContainer {
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
}
.kittyPics {
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
}
#smalldescription {
  font-weight: 200;
  font-size: 13px;
}

/* List View */

.listviewcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.listitems {
  min-height: 0;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}
.addicon {
  position: fixed;
  z-index: 1;
  right: 0;
  margin-right: 40px;
  margin-top: 30px;
}

/* About Page */

.aboutdiv h3 {
  font-family: 'Sen', sans-serif;
}

.headshotdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#devprofile {
  flex-direction: flex-start;
  justify-content: flex-start;
  float: left;
}
.devtext {
  overflow: hidden;
  margin: 5%;
  font-family: 'Sen', sans-serif;
}

.headshots {
  width: 10%;
  border-radius: 50%;
  margin: 1.5rem;
  float: left;
}
.aboutdiv {
  padding: 0 1.5%;
}
.aboutheader {
  font-family: 'Sen', sans-serif;
  font-size: 3.5rem;
  margin: 0;
  color: rgb(146, 117, 112);
}

/* Post form */

.postformdiv form {
  display: table;
  border-spacing: 13px;
}
.postformdiv p {
  display: table-row;
}

.postformdiv {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.textfield {
  display: table-cell;
}
.postformdiv label {
  font-family: 'Sen', sans-serif;
  display: table-cell;
  padding: 0 8px 0 0;
  text-align: right;
}
.postKitty {
  position: absolute;
  bottom: 0;
  left: 0;
}
.postKittyContainer {
  display: flex;
}
.postheader {
  font-family: 'Sen', sans-serif;
  font-size: 3rem;
  margin: 1%;
  color: rgb(146, 117, 112);
  align-self: center;
}
#postbutton {
  width: 26%;
}
.postbutton {
  display: flex;
  justify-content: center;
  /* margin-left: 4%; */
  margin-top: 0;
}

/* Post Detail */

.postdetailbody {
  color: black;
}

/* Auth Form */

.authformdiv form {
  display: table;
  border-spacing: 13px;
}
.authformdiv p {
  display: table-row;
}

.authformdiv {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.authformdiv label {
  font-family: 'Sen', sans-serif;
  display: table-cell;
  padding: 0 8px 0 0;
  text-align: right;
}

#authbutton {
  width: 26%;
}

.authbutton {
  display: flex;
  justify-content: center;
  /* margin-left: 4%; */
  margin-top: 0;
}

/* Footer */

.footerContainer {
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  position: relative;
  padding-bottom: 100px;
}
.github {
  width: 20px;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 8px;
}
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%; 
  bottom: 0;
  height: 2.5rem;
  background-color: #f7ede1;
  margin-bottom: 5px;
}